body {
    background-color: #004d96;
    color: white;
    background-image: url(../assets/KSAPP_FRONT.jpg);
    background-size: auto 100%;
}

body.inicio {
    background-image: none;
}

body.menu {
    background-image: url(../assets/KSAPP_FONDOMENU.jpg);
}

body.eva {
    background-image: url(../assets/KSAPP_FONDOMENU.jpg);
}

#logo {
    width: 100%;
}

#password {
    color: white!important;
    background: #00b5ff;
    border-radius: 40px;
    padding-left: 20px!important;
    font-size: 3em;
    padding-right: 20px!important;
    height: auto;
}

#idioma,
.ev {
    position: absolute;
    max-width: 120px;
    width: 15%;
    right: 10px;
    top: 10px;
}

.container {
    padding-top: 100px;
}

.row.row-pregunta {
    padding-top: 30px;
    font-size: 19px;
    font-weight: bold;
}

.title,
.subtitle {
    text-align: center;
    padding-bottom: 50px;
}

.btn-div {
    padding-top: 50px;
}

.btn-init {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
}

.subtitle h3 {
    font-size: 34px;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container {
        width: 1245px!important;
    }
}

input {
    color: black!important;
}

.table-hover>tbody>tr:hover {
    background-color: #921717!important;
}

.txt-a {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin-top: 20%;
    margin-bottom: 15%;
}

#btn-login {
    font-size: 3em;
    margin-top: 10%;
    background-color: #00b6ff;
    padding: 10px 70px;
    border-radius: 40px;
}


/***** Inicio ******/

.inicio div {
    font-size: 1.6em;
    text-align: justify!important;
}

.inicio h1 {
    font-size: 1.7em;
    text-align: center;
}

.inicio #btn-ok {
    width: 100%;
    font-size: 1.3em;
    margin-top: 10%;
    background-color: #00b6ff;
    padding: 10px 70px;
    border-radius: 40px;
    color: white!important;
}

#logoizq {
    position: absolute;
    left: 10px;
    top: 10px;
    max-width: 400px;
}


/***** Menú ******/

.menu div {
    font-size: 1.6em;
    text-align: justify!important;
}

.menu h1 {
    font-size: 1.7em;
    text-align: center;
}

.btn-menu {
    font-size: 1.4em;
    margin-top: 20%;
    letter-spacing: 10px;
    background-color: #00b5ff;
    width: 100%;
    border-radius: 58px;
    line-height: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.menu .container h1 {
    font-size: 2.5em;
}


/***** evaluacion  *****/

.eva div {
    font-size: 1.6em;
    text-align: justify!important;
}

.eva h1 {
    font-size: 1.7em;
    text-align: center;
}