body {
    background-color: #004d96;
    color: white;
}

.container {
    padding-top: 100px;
}

.row.row-pregunta {
    padding-top: 30px;
    font-size: 19px;
    font-weight: bold;
}

.title,
.subtitle {
    text-align: center;
    padding-bottom: 50px;
}

.btn-div {
    padding-top: 50px;
}

.btn-init {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
}

.subtitle h3 {
    font-size: 34px;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container {
        width: 1245px!important;
    }
}

input {
    color: black!important;
}

.table-hover>tbody>tr:hover {
    background-color: #921717!important;
}